.content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 5%;
	@media (max-width: 991px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 767px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.name {
	font-size: 1.5rem;
	margin: 1rem 0;
}


