.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: content-box;
	@media (max-width: 1200px) {
		max-width: 970px;
	}
	@media (max-width: 991px) {
		max-width: 750px;
	}
	@media (max-width: 767px) {
		max-width: none;
	}
}
