.password {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 80%;
	input {
		width: 100%;
		background: transparent;
		border-bottom: 1px solid rgb(59, 59, 59);
		padding: 0.8rem 2rem;
		color: #fff;
	}
}
